@import "tailwindcss";

@theme {
  --color-primary: #eff0f0;
  --color-secondary: #3f3243;
  --color-info: #882dc1;
  --color-success: #23ac51;
  --color-warning: #efc922;
  --color-danger: #f51136;
  --color-light: #f1f3f9;
  --color-dark: #070708;
  --color-white: #ffffff;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light;
  background-color: oklch(0.967 0.003 264.542);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}